@font-face {
    font-family: "PressStart2p";
    src: url('PressStart2P-Regular.ttf');
}

.top10tracks{
    list-style: none;
    margin: 0;
    padding: 0;
}

.timeframe{
    color: white;
    font-family: "PressStart2p";
}

.track__item {
    column-count: 4;
    color: white;
    font-family: "PressStart2p";
  }

  .track__item__num {
    display: block;
  }


  .track__item__name {
    display: block;
  }

  .track__artist__name {
    display: block;
  }

  .track__item__album {
    display: block;
  }

  .track__item__duration {
    display: block;
  }