@font-face {
    font-family: "PressStart2p";
    src: url('PressStart2P-Regular.ttf');
}

/* title */
h2{
    font-family: "PressStart2p";
    color: white;
    text-align: center;
}

/* ---------------TIMEFRAME BUTTONS----------------- */
/* button container */
.timeframe{
    font-family: "PressStart2p";
    margin-bottom: 2vh;
}

.time-btn{
    margin-left: 1%;
    margin-right: 1%;
}
/* ------------------------------------------------- */

/* ---------------------TABLE----------------------- */
.top10tracks{
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    table-layout: fixed;
    border-collapse: collapse;
}

/* table headers */
.track-header {
    color: white;
    font-family: "PressStart2p";
    font-size: medium;
}

/* table rows */
.track-item {
    color: white;
    font-family: "PressStart2p";
    font-size: smaller;
}

/* cells */
td,th {
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 2%;
}

/* song rank */
.track-item-num {
    text-align: left;
}


/* song name */
.track-item-name {
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
}

/* artist name */
.track-artist-name {
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
}

/* song length */
.track-item-duration {
    text-align: right;
    white-space: nowrap;
}
/* ------------------------------------------------- */

/* -------------------ROW COLORS-------------------- */
tr:nth-child(1),tr:nth-child(2){
    color: rgb(239, 0, 192);
}

tr:nth-child(3),tr:nth-child(4){
    color: rgb(255, 135, 17);
}

tr:nth-child(5),tr:nth-child(6){
    color: yellow;
}

tr:nth-child(7),tr:nth-child(8){
    color: greenyellow;
}

tr:nth-child(9),tr:nth-child(10){
    color: cyan;
}
/* ------------------------------------------------- */