@font-face {
    font-family: "PressStart2p";
    src: url('PressStart2P-Regular.ttf');
}


body {
    background-image: url("../images/Background.png");
    text-align: center;
    min-height: "100%";
    }
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    }

/* ---------------FOOTER STYLES----------------- */
footer {
    position: absolute;
    left:0;
    bottom:0;
    right:0;
    height: "5%";
    align-items: center;
}

.links{
    font-size: xx-small;
    font-family: "PressStart2p";
    color: white;
    text-decoration: none;
    margin-left: 5px;
}
/* --------------------------------------------- */

/* ---------------HEADER STYLES----------------- */
.right{
    position: absolute;
    right: 1%;
    top: 1%;
}

.left{
    position: absolute;
    left: 1%;
    top: 1%;
}
/* --------------------------------------------- */

p{
    font-family: "PressStart2p";
    color: white;
    font-size: x-small;
}

/* ---------------LOGIN STYLES----------------- */

.login-page{
    justify-content: center;
}

.login-sprites{
    margin: 1%;
}

.login-button{
    display: block;
    font-family: "PressStart2p";
    font-size: 4vh;
    animation: blink 3s step-end infinite; 
    text-decoration: none;
    margin: 1%;
}

@keyframes blink {
    0% { color: rgb(239, 0, 192); }
    25% { color: rgb(242, 255, 54); }
    50% { color: cyan; }
    75% { color: rgb(242, 255, 54); }
    100%  { color: rgb(239, 0, 192); }
}
/* --------------------------------------------- */


/* --------------TOP TRACK STYLES--------------- */
.time-button{
    font-family: "PressStart2p";
    font-size: 4vh;
    color: rgb(239, 0, 192);
}
  
.score {
    color: rgb(239, 0, 192);
    font-family: "PressStart2p";
    display: grid;
    grid-template-columns: 1fr 1fr;
    size: small;
}
/* --------------------------------------------- */